<!-- ejs is like an html with javascript in it -->


<div class="inner-container">
    <h1>Hi <%= name %></h1>
    <form action="/logout?_method=DELETE" method="POST">
        <button type="submit" class="btn btn-submit">Log Out</button>
    </form>
</div>