@import 'shared/variables.css';
@import 'shared/buttons.css';
@import 'shared/forms.css';

:root {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--color-text-dark);
}

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}